* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.headertop {
    display: flex;
    justify-content: space-between;
}

.headerbottom {
    display: flex;
    gap: 8px;
}

.placeholder {
    flex-shrink: 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 8px;
}

/*Decided to apply flex 1 to all body elements except the footer. I will probably have 
to find a solution to apply similar styles, flex or others, to entire groups of elements. */

body >* {
    flex: 1;
}

.footer {
    flex-grow: 0;
}
